.content h2 {
  background-color: var(--salmao);
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 2px 3px;
  border-radius: 5px;
  display: inline-block;
  line-height: 1;
  margin-left: 20px;
  margin-top: 40px;
}

.content__lista {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-between;
}
